label{
	color: blue;
}

#menu {
	float: left;
	width: 150px;
	background-color: gray;

}

#menu ul {
	list-style: none;
}

#menu ul a:hover {
	background-color: white;
}

#sisalto {
	margin-left: 170px;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

